<ng-container *ngIf="view === 'CarouselButton'">
    <button *ngIf="!checkPrduct" (click)="add()" class="product-card__addtocart-icon" type="button" aria-label="Add to cart">
        <svg width="20" height="20">
            <circle cx="7" cy="17" r="2" />
            <circle cx="15" cy="17" r="2" />
            <path
                d="M20,4.4V5l-1.8,6.3c-0.1,0.4-0.5,0.7-1,0.7H6.7c-0.4,0-0.8-0.3-1-0.7L3.3,3.9C3.1,3.3,2.6,3,2.1,3H0.4C0.2,3,0,2.8,0,2.6
                        V1.4C0,1.2,0.2,1,0.4,1h2.5c1,0,1.8,0.6,2.1,1.6L5.1,3l2.3,6.8c0,0.1,0.2,0.2,0.3,0.2h8.6c0.1,0,0.3-0.1,0.3-0.2l1.3-4.4
                        C17.9,5.2,17.7,5,17.5,5H9.4C9.2,5,9,4.8,9,4.6V3.4C9,3.2,9.2,3,9.4,3h9.2C19.4,3,20,3.6,20,4.4z" />
        </svg>
    </button>
    <button mat-mini-fab color="warn" (click)="remove()" *ngIf="checkPrduct" type="button" aria-label="Remove from cart">
        <mat-icon>remove_shopping_cart</mat-icon>
    </button>
</ng-container>
<ng-container *ngIf="view === 'fullButton'">
    <button *ngIf="!checkPrduct" class="btn btn-primary btn-lg btn-block" (click)="add()">Ajouter au panier
    </button>
    <button *ngIf="checkPrduct" class="btn btn-danger btn-lg btn-block" (click)="remove()">Retirer du
        panier</button>
</ng-container>
<ng-container *ngIf="view === 'NavButton' && user !== null">
    <div [matMenuTriggerFor]="cartMenu" class="indicator indicator--trigger--click">
        <a class="indicator__button">
            <span class="indicator__icon">
                <svg width=" 32" height="32">
                    <circle cx="10.5" cy="27.5" r="2.5" />
                    <circle cx="23.5" cy="27.5" r="2.5" />
                    <path
                        d="M26.4,21H11.2C10,21,9,20.2,8.8,19.1L5.4,4.8C5.3,4.3,4.9,4,4.4,4H1C0.4,4,0,3.6,0,3s0.4-1,1-1h3.4C5.8,2,7,3,7.3,4.3
                                l3.4,14.3c0.1,0.2,0.3,0.4,0.5,0.4h15.2c0.2,0,0.4-0.1,0.5-0.4l3.1-10c0.1-0.2,0-0.4-0.1-0.4C29.8,8.1,29.7,8,29.5,8H14
                                c-0.6,0-1-0.4-1-1s0.4-1,1-1h15.5c0.8,0,1.5,0.4,2,1c0.5,0.6,0.6,1.5,0.4,2.2l-3.1,10C28.5,20.3,27.5,21,26.4,21z" />
                </svg>
                <span class="indicator__counter" [matBadge]="cart_list ? cart_list.length : 0" matBadgeOverlap="true"
                    matBadgePosition="before"></span>
            </span>
            <span class="indicator__title">Panier</span>
            <span class="indicator__value">{{totalPrice}} TND</span>
        </a>
    </div>
    <mat-menu #cartMenu="matMenu">
        <div class="dropcart">
            <ul class="dropcart__list">
                <li class="dropcart__item" *ngFor="let cart of cart_list;let i = index">
                    <div class="dropcart__item-image image image--type--product">
                        <a class="image__body" [routerLink]="['/shop/detail-product',cart.car_part._id]"><img class="image__tag" [src]="cart_productsImages[i] | async" alt=""></a>
                    </div>
                    <div class="dropcart__item-info">
                        <div class="dropcart__item-name"><a [routerLink]="['/shop/detail-product',cart.car_part._id]">{{cart.car_part.name}}</a>
                        </div>
                        <ul class="dropcart__item-features">
                            <li *ngFor="let feature of cart.car_part.features">{{feature.feature_value}}
                            </li>
                        </ul>
                        <div class="dropcart__item-meta">
                            <div class="dropcart__item-quantity">{{cart.quantity}}</div>
                            <div class="dropcart__item-price">{{cart.quantity * cart.car_part.price}} TND</div>
                        </div>
                    </div>
                    <button type="button" class="dropcart__item-remove">
                        <svg width="10" height="10">
                            <path d="M8.8,8.8L8.8,8.8c-0.4,0.4-1,0.4-1.4,0L5,6.4L2.6,8.8c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L3.6,5L1.2,2.6
                            c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L5,3.6l2.4-2.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L6.4,5l2.4,2.4
                            C9.2,7.8,9.2,8.4,8.8,8.8z" />
                        </svg>
                    </button>
                </li>
                <li class="dropcart__divider" role="presentation"></li>
            </ul>
            <div class="dropcart__totals">
                <table>
                    <tr>
                        <th>Sous Total</th>
                        <td>{{totalPrice}} TND</td>
                    </tr>
                    <tr>
                        <th>Expédition</th>
                        <td>0 TND</td>
                    </tr>
                    <tr>
                        <th>Taux TVA</th>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <th>Total TTC</th>
                        <td>{{totalPrice * 1.20}} TND</td>
                    </tr>
                </table>
            </div>
            <div class="dropcart__actions">
                <a routerLink="/cart/cart-list" class="btn btn-secondary">Voir le
                    panier
                </a>
                <a href="checkout.html" class="btn" style="background-color : #3f51b5;color: white;">Passer à la caisse
                </a>
            </div>
        </div>
    </mat-menu>
</ng-container>