<div class="block-split block-split--has-sidebar mt-5">
    <div class="container">
        <div class="block-split__row row no-gutters">
            <div class="block-split__item block-split__item-sidebar col-auto">
                <div class="sidebar sidebar--offcanvas--mobile">
                    <div class="sidebar__backdrop"></div>
                    <div class="sidebar__body">
                        <div class="sidebar__header">
                            <div class="sidebar__title">Filters</div>
                            <button class="sidebar__close" type="button">
                                <svg width="12" height="12">
                                    <path d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6
c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4
C11.2,9.8,11.2,10.4,10.8,10.8z" />
                                </svg>
                            </button>
                        </div>
                        <div class="sidebar__content">
                            <div class="widget widget-filters widget-filters--offcanvas--mobile" data-collapse data-collapse-opened-class="filter--opened">
                                <div class="widget__header widget-filters__header">
                                    <h4>Filters</h4>
                                </div>
                                <div class="widget-filters__list">
                                    <div class="filter filter--opened">
                                        <mat-expansion-panel expanded>
                                            <mat-expansion-panel-header style="font-weight: bold;">
                                                Categories
                                            </mat-expansion-panel-header>
                                            <div class="filter-categories__list">
                                                <mat-selection-list #categorySelect [(ngModel)]="allFilters.category" (ngModelChange)="removeSubCategory();applyFilter()" color="primary" [multiple]="false" role="list" dense>
                                                    <ng-container *ngFor="let category of allCategorys | async;let i = index">
                                                        <mat-list-option [value]="category">
                                                            <p style="font-weight:bold">{{category.name}}</p>
                                                        </mat-list-option>
                                                        <mat-selection-list *ngIf="allFilters.category[0] === category" [(ngModel)]="allFilters.subCategory" color="primary" [multiple]="true" (ngModelChange)="applyFilter()" #subCategorySelect>
                                                            <mat-list-option *ngFor="let sub of category.sub_category" [value]="sub">
                                                                {{sub}}
                                                            </mat-list-option>
                                                        </mat-selection-list>
                                                        <mat-divider></mat-divider>
                                                    </ng-container>
                                                </mat-selection-list>
                                            </div>
                                        </mat-expansion-panel>
                                    </div>
                                    <div class="widget-filters__list">
                                        <div class="filter filter--opened">
                                            <mat-expansion-panel expanded>
                                                <mat-expansion-panel-header style="font-weight: bold;">
                                                    Véhicule
                                                </mat-expansion-panel-header>
                                                <div class="filter-vehicle__list">
                                                    <mat-selection-list #carsSelect [(ngModel)]="allFilters.car" (ngModelChange)="applyFilter()" color="primary" [multiple]="true" dense>
                                                        <mat-list-option *ngFor="let car of allCars" [value]="car">
                                                            {{car.Make}} {{car.Model}} {{car.Year}}
                                                            <mat-divider></mat-divider>
                                                        </mat-list-option>
                                                    </mat-selection-list>

                                                    <div class="text-center">
                                                        <button mat-mini-fab (click)="addCar()" color="primary">
                                                            <mat-icon>add</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                    <div class="widget-filters__list">
                                        <div class="filter filter--opened">
                                            <mat-expansion-panel expanded>
                                                <mat-expansion-panel-header style="font-weight: bold;">
                                                    Prix
                                                </mat-expansion-panel-header>
                                                <div class="filter-price__list">
                                                    <mat-list dense>
                                                        <mat-list-item>
                                                            <label matLine>Max : {{allFilters.price.max}}TND</label>
                                                            <mat-slider [(ngModel)]="allFilters.price.max" (ngModelChange)="applyFilter()" color="primary" [min]="allFilters.price.min" max="1000" aria-label="units" matLine>
                                                            </mat-slider>
                                                        </mat-list-item>
                                                        <mat-list-item>
                                                            <label matLine>Min : {{allFilters.price.min}}TND</label>
                                                            <mat-slider [(ngModel)]="allFilters.price.min" (ngModelChange)="applyFilter()" color="primary" min="0" [max]="(allFilters.price.max ? allFilters.price.max : 1000)" aria-label="units" matLine>
                                                            </mat-slider>
                                                        </mat-list-item>
                                                    </mat-list>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                    <div class="widget-filters__list">
                                        <div class="filter filter--opened">
                                            <mat-expansion-panel [disabled]="allFilters.car.length > 0" [expanded]="false">
                                                <mat-expansion-panel-header style="font-weight: bold;">
                                                    Marques
                                                </mat-expansion-panel-header>
                                                <div class="filter-price__list">
                                                    <mat-selection-list #brandsSelect color="primary" [multiple]="true" [(ngModel)]="allFilters.brand" (ngModelChange)="applyFilter()" dense>
                                                        <mat-list-option *ngFor="let brand of allBrands | async" [value]="brand">
                                                            {{brand || 'Loading...'}}
                                                        </mat-list-option>
                                                    </mat-selection-list>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-split__item block-split__item-content col-auto">
                <div class="block">
                    <div class="products-view">
                        <div class="products-view__options view-options view-options--offcanvas--mobile">
                            <div class="view-options__body">

                            </div>
                            <div class="view-options__body view-options__body--filters" style="flex-direction: column;align-items: start;">
                                <div class="view-options__label">FILTRES ACTIFS</div>
                                <mat-chip-list *ngIf="allFilters.category.length > 0">
                                    <mat-label>Categories :</mat-label>
                                    <mat-chip *ngFor="let category of allFilters.category;let i = index" selected color="primary" (removed)="removeFilter('CATEGORY',i);applyFilter()">
                                        {{category.name}}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                    <ng-container *ngIf="allFilters.subCategory.length > 0">
                                        <mat-chip color="primary" *ngFor="let sub of allFilters.subCategory;let i = index" (removed)="removeFilter('SUBCATEGORY',i);applyFilter()">
                                            {{sub}}
                                            <button matChipRemove>
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip>
                                    </ng-container>
                                </mat-chip-list>
                                <mat-divider class="m-1"></mat-divider>
                                <mat-chip-list *ngIf="allFilters.car.length > 0">
                                    <mat-label>Véhicule :</mat-label>
                                    <mat-chip *ngFor="let car of allFilters.car;let i = index" color="primary" selected (removed)="removeFilter('CAR',i);applyFilter()">
                                        {{car.Make}} {{car.Model}} {{car.Year}}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                </mat-chip-list>
                                <mat-divider class="m-1"></mat-divider>
                                <mat-chip-list *ngIf="allFilters.brand.length > 0">
                                    <mat-label>Marques :</mat-label>
                                    <mat-chip selected *ngFor="let brand of allFilters.brand;let i = index" color="primary" (removed)="removeFilter('BRAND',i);applyFilter()">
                                        {{brand}}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                </mat-chip-list>
                                <mat-divider class="m-1"></mat-divider>
                                <mat-chip-list *ngIf="allFilters.price.max > 0 || allFilters.price.min > 0">
                                    <mat-label>Prix : </mat-label>
                                    <mat-chip *ngIf="allFilters.price.min > 0" color="primary" selected (removed)="removeFilter('MIN');applyFilter()">
                                        min : {{allFilters.price.min}} TND
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                    <mat-chip *ngIf="allFilters.price.max > 0" color="primary" selected (removed)="removeFilter('MAX');applyFilter()">
                                        max : {{allFilters.price.max}} TND
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                        <div class="products-view__list products-list products-list--grid--3" data-layout="grid" data-with-features="false">
                            <div class="products-list__head">
                                <div class="products-list__column products-list__column--image">Image</div>
                                <div class="products-list__column products-list__column--meta">SKU</div>
                                <div class="products-list__column products-list__column--product">Product
                                </div>
                                <div class="products-list__column products-list__column--rating">Rating
                                </div>
                                <div class="products-list__column products-list__column--price">Price</div>
                            </div>
                            <div class="products-list__content">
                                <div class="products-list__item" *ngFor="let product of products | async">
                                    <div class="product-card">
                                        <app-product [view]="'carousel'" [product]="product">
                                            <app-cart-button CarouselButton view="CarouselButton" [product]="product">
                                            </app-cart-button>
                                        </app-product>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-space block-space--layout--before-footer"></div>
    </div>
</div>